// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Main Section
.main {
  height: 123rem;
  position: relative;
  padding-top: 12rem;
  overflow: hidden;
}
.objects {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__1 {
    position: absolute;
    height: 200rem;
    width: 200rem;
    top: 0;
    right: 0;
    // overflow: hidden;

    &::before {
      content: '';
      height: 150rem;
      width: 150rem;
      position: absolute;
      right: -30%;
      top: -27%;
      border-radius: 50%;
      background-color: $main-red-color;

      @include respond(laptop-hq) {
        right: -33%;
        top: -30%;
      }

      @include respond(laptop) {
        right: -33%;
        top: -38%;
      }
    }
  }

  &__2 {
    position: absolute;
    height: 60rem;
    width: 81rem;
    top: 0;
    right: 0;
    // overflow: hidden;
    z-index: 5;

    &::before {
      content: '';
      height: 150rem;
      width: 150rem;
      position: absolute;
      right: -88%;
      top: -170%;
      border-radius: 50%;
      background-color: rgba(#f6c3ca, 0.8);

      @include respond(laptop-hq) {
        right: -115%;
        top: -165%;
      }

      @include respond(laptop) {
        right: -119%;
        top: -169%;
      }
    }
  }

  &__3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/objects/header-object.svg);
    background-repeat: no-repeat;
    // background-position: 82% 90%;
    background-position: 86% -165rem;

    @include respond(laptop-hq) {
      background-position: 76% -185rem;
    }
    @include respond(laptop) {
      background-position: 77% -192rem;
    }
  }
}

.slider {
  position: relative;
  z-index: 9;
  &__title {
    // font-size: 20rem;
    font-size: 10.5vw;
    font-weight: 700;
  }

  &__text {
    color: $text-grey-color;
    max-width: 70rem;
    // font-size: 24px;
    font-size: 1.25vw;
    line-height: 1.65;
    // margin-top: 6rem;
    margin-top: 6vh;
    // margin-bottom: 12rem;
    margin-bottom: 12vh;
  }

  &__pagination {
    margin-top: 8vh;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $slider-bullet-grey;

      & + .swiper-pagination-bullet {
        margin-left: 22px;
      }

      &-active {
        background-color: #fff;
        box-shadow: 0 0 0 3px $main-red-color;
      }
    }
  }
}

.social {
  position: absolute;
  right: -8rem;
  top: 55vh;
  transform: rotate(-90deg);
  display: flex;

  z-index: 100;

  &__title {
    font-size: 1.4rem;
    color: #fff;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin-right: 3rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.8);

    &:hover {
      transform: scale(1.5);
      transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.8);
    }
  }

  &__link {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transform: rotate(90deg);
  }
}

// About Section
.about {
  // margin-top: 20rem;
  overflow: hidden;
  padding-top: 32rem;
  padding-bottom: 32rem;
  margin-top: -15rem;

  @include respond(laptop-hq) {
    padding-top: 25rem;
    margin-top: -34rem;
  }

  // @include respond(laptop) {
  //   padding-top: 26rem;
  //   margin-top: -35rem;
  // }

  .container {
    display: flex;
  }
  &__cards {
    flex: 0 0 50%;
    display: flex;
    align-items: center;

    .cards-group {
      display: flex;
      flex-direction: column;
      margin-right: 9rem;

      @include respond(laptop-hq) {
        margin-right: 7.2rem;
      }
    }

    .card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 3px 20px rgba(#7699fc, 0.1);
      width: 28rem;
      min-height: 38rem;
      padding: 4rem;
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include respond(laptop-hq) {
        padding: 3.4rem;
        padding-left: 4rem;
        width: 22.4rem;
        min-height: 30.8rem;
      }

      &__image {
        width: 10rem;

        @include respond(laptop-hq) {
          width: 8rem;
        }
      }

      &__title {
        color: $text-secondary-color;
        font-size: 1.8rem;
        margin-top: 5.5rem;

        @include respond(laptop-hq) {
          font-size: 1.6rem;
          margin-top: 4.4rem;
        }
      }

      &__text {
        color: $text-grey-color;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-top: 2rem;

        @include respond(laptop-hq) {
          font-size: 1.4rem;
        }
      }

      & + .card {
        margin-top: 9rem;

        @include respond(laptop-hq) {
          margin-top: 7.5rem;
        }
      }
    }
  }

  &__info {
    flex: 0 0 50%;
    padding-left: 20rem;
    padding-top: 10rem;
  }

  &__title {
    @include respond(laptop-hq) {
      font-size: 3.6rem;
    }
  }

  &__title,
  &__text {
    max-width: 50rem;
  }

  &__text {
    margin-top: 6rem;
    margin-bottom: 10rem;

    @include respond(laptop-hq) {
      margin-top: 4.8rem;
      margin-bottom: 8rem;
    }
  }

  &__object {
    background-image: url(../img/objects/about-object.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180rem;
    height: 180rem;
    position: absolute;
    left: -90rem;
    top: -46rem;
    z-index: -1;

    @include respond(laptop-hq) {
      width: 144rem;
      height: 144rem;
      left: -71.5rem;
      top: -38rem;
    }
  }
}

.solutions {
  // margin-top: 10rem;
  // margin-bottom: 4rem;
  margin-top: -70rem;
  overflow: hidden;
  padding-top: 42rem;
  padding-bottom: 34rem;

  @include respond(laptop-hq) {
    margin-top: -62rem;
    padding-top: 40rem;
  }
  .container {
    display: flex;
  }

  &__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 22rem;
  }

  &__text {
    margin-top: 6rem;
    max-width: 44.5rem;
  }

  &__list {
    flex: 0 0 50%;

    .solutions__title {
      padding-left: 23rem;
    }
  }

  .steps {
    margin-top: 6rem;
    &__step {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & + .steps__step {
        margin-top: 7rem;

        @include respond(laptop-hq) {
          margin-top: 5.6rem;
        }
      }

      &--1 {
        .steps__circle {
          background-color: $step-bg-color-1;
          color: $step-text-color-1;
        }
      }
      &--2 {
        .steps__circle {
          background-color: $step-bg-color-2;
          color: $step-text-color-2;
        }
      }
      &--3 {
        .steps__circle {
          background-color: $step-bg-color-3;
          color: $step-text-color-3;
        }
      }
      &--4 {
        .steps__circle {
          background-color: $step-bg-color-4;
          color: $step-text-color-4;
        }
      }
      &--5 {
        .steps__circle {
          background-color: $step-bg-color-5;
          color: $step-text-color-5;

          &::after {
            display: none;
          }
        }
      }
    }

    &__circle {
      width: 8rem;
      height: 8rem;
      position: relative;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(laptop-hq) {
        width: 6.4rem;
        height: 6.4rem;
        svg {
          height: 6.4rem;
          width: 6.4rem;
          circle {
            r: calc(3.2rem - 2px);
            cx: 68;
            cy: 33;
          }
        }
      }

      &::after {
        content: '........';
        position: absolute;
        height: 7rem;
        width: 2px;
        bottom: -4rem;
        left: 32%;
        font-size: 2.4rem;
        color: $border-grey-color;
        letter-spacing: 5px;
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-size: contain;

        @include respond(laptop-hq) {
          letter-spacing: 4px;
        }
      }
    }

    &__num {
      @include abs-center;
      font-size: 3rem;
      font-weight: 400;
    }

    &__info {
      margin-left: 6rem;
      max-width: 44rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: 400;

      @include respond(laptop-hq) {
        font-size: 1.8rem;
      }
    }

    &__text {
      font-size: 1.6rem;
      margin-top: 2rem;
      color: $text-grey-color;
      line-height: 1.875;

      @include respond(laptop-hq) {
        font-size: 1.4rem;
        margin-top: 1.8rem;
      }
    }
  }

  &__object {
    background-image: url(../img/objects/solutions-object.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180rem;
    height: 180rem;
    position: absolute;
    right: -79rem;
    top: -38rem;
    z-index: -1;

    @include respond(laptop-hq) {
      width: 144rem;
      height: 144rem;
      right: -53rem;
      top: -28rem;
    }
  }

  &__circle {
    width: 123.6rem;
    height: 123.6rem;
    position: absolute;
    top: 0;
    right: -75%;
    z-index: -2;

    @include respond(laptop-hq) {
      width: 98rem;
      height: 98rem;
      right: -55%;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: -35%;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: $primary-pink-color;
    }
  }
}

.agile {
  overflow: hidden;
  padding-top: 68rem;
  padding-bottom: 55rem;
  margin-top: -47rem;

  @include respond(laptop-hq) {
    margin-top: -62rem;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14.5rem;

    @include respond(laptop-hq) {
      margin-bottom: 11rem;
      padding: 0 6rem;
    }
  }

  &__title {
    // font-size: 17rem;
    font-size: 20vh;
    font-weight: 700;
    max-width: 60%;

    @include respond(laptop-hq) {
      font-size: 16vh;
    }
  }

  &__img {
    width: 39.5rem;

    @include respond(laptop-hq) {
      width: 31rem;
    }
  }

  .model {
    &__heading {
      font-size: 4rem;
      margin-left: 13.2rem;

      @include respond(laptop-hq) {
        font-size: 3.2rem;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 7rem;
      margin-top: 6rem;
    }

    &__step {
      display: flex;
    }

    &__img {
      flex: 0 0 7.7rem;
      height: 7.7rem;
      display: flex;
      align-items: center;
      position: relative;
      padding: 3px;
      margin-right: 5.5rem;

      // @include respond(laptop-hq) {
      //   flex: 0 0 6rem;
      //   height: 6rem;
      // }

      &::before {
        content: '';
        position: absolute;
        top: 6px;
        right: 6px;
        height: 6.3rem;
        width: 6.3rem;
        border-radius: 14px;
        transform: rotate(16deg);
        transition: all 0.2s ease-in-out;

        // @include respond(laptop-hq) {
        //   height: 5rem;
        //   width: 5rem;
        //   border-radius: 12px;
        // }
      }

      &:hover {
        &::before {
          transform: scale(1.1) rotate(90deg);
          transition: all 0.2s ease-in-out;
        }
      }

      &--1 {
        .model__icon {
          width: 3.5rem;
        }
        &::before {
          background-color: $model-red-color;
        }
      }
      &--2 {
        .model__icon {
          width: 4.25rem;
        }
        &::before {
          background-color: $model-purple-color;
        }
      }
      &--3 {
        .model__icon {
          width: 4.9rem;
        }
        &::before {
          background-color: $model-green-color;
        }
      }
      &--4 {
        .model__icon {
          width: 4.1rem;
        }
        &::before {
          background-color: $model-blue-color;
        }
      }
      &--5 {
        .model__icon {
          width: 3.5rem;
        }
        &::before {
          background-color: $model-darkpurple-color;
        }
      }
      &--6 {
        .model__icon {
          width: 4.7rem;
        }
        &::before {
          background-color: $model-yellow-color;
        }
      }
    }

    &__icon {
      position: relative;
    }

    &__info {
      max-width: 44.5rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: 400;

      @include respond(laptop-hq) {
        font-size: 1.8rem;
      }
    }

    &__text {
      font-size: 1.6rem;
      color: $text-grey-color;
      margin-top: 2rem;

      @include respond(laptop-hq) {
        font-size: 1.4rem;
        margin-top: 1.8rem;
        line-height: 1.5;
      }
    }
  }

  &__object {
    width: 250rem;
    height: 250rem;

    background-image: url(../img/objects/agile-object.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -37%;
    top: -45%;
    z-index: -1;

    @include respond(laptop-hq) {
      width: 220rem;
      height: 220rem;
      right: -28%;
      top: -44%;
    }
  }

  &__circle {
    width: 158.6rem;
    height: 158.6rem;
    position: absolute;
    top: 0;
    left: -75%;
    z-index: -2;

    @include respond(laptop-hq) {
      width: 125rem;
      height: 125rem;
      left: -51%;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: -42%;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: $main-red-color;
    }
  }
}

// Projects
.projects {
  // margin-top: 95rem;
  overflow: hidden;
  padding-top: 54rem;
  padding-bottom: 30rem;
  margin-top: -20rem;

  @include respond(laptop-hq) {
    margin-top: -30rem;
  }

  .container {
    display: flex;
  }

  &__cards {
    display: grid;
    grid-template-columns: 28rem 28rem;
    column-gap: 9rem;
    row-gap: 9rem;

    @include respond(laptop-hq) {
      grid-template-columns: 22.4rem 22.4rem;
      column-gap: 7rem;
      row-gap: 6rem;
    }

    .card {
      height: 28rem;
      border-radius: 1.2rem;
      background-color: #fff;
      padding: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @include respond(laptop-hq) {
        height: 22.4rem;
      }

      &:nth-child(odd) {
        margin-top: -13rem;

        @include respond(laptop-hq) {
          margin-top: -9rem;
        }
      }

      &__image {
        object-fit: contain;
      }
    }
  }

  &__info {
    flex: 0 0 50%;
    padding-left: 20rem;
    padding-top: 10rem;
  }

  &__title,
  &__text {
    max-width: 50rem;
  }

  &__text {
    margin-top: 6rem;
    margin-bottom: 10rem;

    @include respond(laptop-hq) {
      margin-top: 4.8rem;
      margin-bottom: 6rem;
    }
  }

  &__link {
    width: 8.5rem;
    font-size: 1.6rem;
    color: $main-red-color;
    display: flex;
    align-items: center;

    &:hover {
      .projects__icon {
        transform: translateX(3px);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__icon {
    width: 2rem;
    margin-left: 1rem;
    fill: $main-red-color;
    transition: all 0.3s ease-in-out;
  }

  &__object {
    background-image: url(../img/objects/projects-object.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180rem;
    height: 180rem;
    position: absolute;
    left: -83rem;
    top: -69rem;
    z-index: -1;

    @include respond(laptop-hq) {
      width: 144rem;
      height: 144rem;
      left: -66rem;
      top: -54rem;
    }
  }
}

// Team Section
.team {
  overflow: hidden;
  padding-top: 38rem;
  padding-bottom: 33rem;
  margin-top: -45rem;
  margin-bottom: -60rem;

  @include respond(laptop-hq) {
    margin-top: -50rem;
    margin-bottom: -67rem;
  }
  .container {
    display: flex;
  }

  &__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    margin-bottom: 10rem;
  }

  &__cards {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    .card {
      display: flex;
      align-items: center;
      width: 57.5rem;
      align-self: flex-end;

      &__img {
        flex: 0 0 27.5rem;
        height: 27.5rem;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        margin-right: 7rem;

        @include respond(laptop-hq) {
          flex: 0 0 22rem;
          height: 22rem;
          margin-right: 5rem;
        }
      }

      &__title {
        font-size: 2rem;

        @include respond(laptop-hq) {
          font-size: 1.8rem;
        }
      }

      &__subtitle {
        font-size: 1.5rem;
        color: $text-grey-color;
        margin-top: 1rem;

        @include respond(laptop-hq) {
          font-size: 1.4rem;
        }
      }

      &__details {
        font-size: 1.6rem;
        line-height: 1.875;
        color: $text-grey-color;
        margin-top: 2.4rem;

        @include respond(laptop-hq) {
          font-size: 1.4rem;
        }
      }

      & + .card {
        margin-top: 8rem;

        @include respond(laptop-hq) {
          margin-top: 4rem;
        }
      }

      &--right {
        flex-direction: row-reverse;

        .card__img {
          margin-right: 0;
          margin-left: 7rem;

          @include respond(laptop-hq) {
            margin-left: 5rem;
          }
        }

        .card__info {
          text-align: right;
        }
      }
    }
  }

  &__text {
    margin-top: 6rem;
    max-width: 44.5rem;
  }

  &__list {
    flex: 0 0 50%;

    .solutions__title {
      padding-left: 23rem;
    }
  }

  &__object {
    background-image: url(../img/objects/team-object.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180rem;
    height: 180rem;
    position: absolute;
    right: -72rem;
    top: -32rem;
    z-index: -1;

    @include respond(laptop-hq) {
      width: 144rem;
      height: 144rem;
      right: -52rem;
      top: -29rem;
    }
  }

  &__circle {
    width: 155.5rem;
    height: 155.5rem;
    position: absolute;
    top: 17%;
    right: -83%;
    z-index: -2;

    @include respond(laptop-hq) {
      height: 124rem;
      width: 124rem;
      top: 12%;
      right: -62%;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: -35%;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: $step-text-color-3;
    }
  }
}
