// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transition: all .2s ease-in-out;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 11.6rem;
  }

  .nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__link {
      // font-size: 2rem;
      font-size: 1vw;
      font-family: inherit;
      transition: all 0.25s ease-in-out;

      & + .nav__link {
        // margin-left: 5rem;
        margin-left: 2.6vw;
      }

      &:hover {
        color: $main-red-color;
        transition: all 0.25s ease-in-out;
      }
    }
  }

  &__lang {
    // margin-left: 7rem;
    margin-left: 3.6vw;
    // font-size: 2rem;
    font-size: 1vw;
    transition: all 0.25s ease-in-out;

    &:nth-child(2) {
      margin-left: auto;
    }

    &:hover {
      color: $main-red-color;
      transition: all 0.25s ease-in-out;
    }
  }

  &--white {
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(#7699fc, 0.1);
  }
}
