// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transition: all .2s ease-in-out;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 11.6rem;
  }

  .nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__link {
      // font-size: 2rem;
      position: relative;
      font-size: 1vw;
      font-family: inherit;
      transition: all 0.25s ease-in-out;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      & + .nav__link {
        // margin-left: 5rem;
        margin-left: 2.6vw;
      }

      &:hover {
        color: $main-red-color;
        transition: all 0.25s ease-in-out;
      }
    }
  }

  &__lang {
    // margin-left: 7rem;
    margin-left: 3.6vw;
    // font-size: 2rem;
    font-size: 1vw;
    transition: all 0.25s ease-in-out;

    &:nth-child(2) {
      margin-left: auto;
    }

    &:hover {
      color: $main-red-color;
      transition: all 0.25s ease-in-out;
    }
  }

  &--white {
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(#7699fc, 0.1);
  }
}


.submenu {
  visibility: hidden;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(#7699FC, 0.1);
  max-width: 13rem;
  background-color: #fff;
  position: absolute;
  bottom: -12.5rem;
  left: -27%;
  padding: 2.5rem 2rem;
  transition: all .2s ease-in-out;

  &--open {
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
  }

  &__link {
    display: block;
    color: $text-grey-color;
    text-align: left;
    transition: all .25s ease-in-out;

    + .submenu__link {
      margin-top: 2.5rem;
    }

    &:hover {
      color: $text-primary-color;
      transition: all .25s ease-in-out;
    }
  }
}