// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

.form {
  .form__group {
    position: relative;

    input.form__input[type='text'],
    input.form__input[type='email'],
    textarea.form__textarea {
      border-radius: 4.2rem;
      width: 100%;
      padding: 3rem 4rem;
      font-family: inherit;
      font-size: 1.6rem;
      color: $text-primary-color;
      border: 1px solid $input-border-color;
      transition: all 0.3s ease-in-out;
      outline: none;

      + label.form__label[data-placeholder] {
        pointer-events: none;
        color: $input-text-color;

        &:after {
          content: attr(data-placeholder);
          display: block;
          position: absolute;
          top: 50%;
          left: 4rem;
          transform: translate(0%, -50%);
          transition: all 0.3s ease-in-out;
          padding: 0 5px;
          background-color: rgba(255, 255, 255, 0);
        }
      }

      &:focus,
      &:valid {
        border: 1px solid $input-focus-color;

        + label.form__label[data-placeholder] {
          &:after {
            transform: translate(-5%, -50px) scale(0.9, 0.9);
            color: $input-focus-color;
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    textarea.form__textarea {
      resize: none;

      + label.form__label[data-placeholder] {
        &:after {
          top: 4rem !important;
        }
      }

      &:focus,
      &:valid {
        + label.form__label[data-placeholder] {
          &:after {
            transform: translate(-5%, -50px) scale(0.9, 0.9);
          }
        }
      }
    }

    + .form__group {
      margin-top: 3rem;
    }

    &.is--invalid {
      input.form__input[type='text'],
      input.form__input[type='email'],
      textarea.form__textarea {
        border-color: $main-red-color;

        + label.form__label[data-placeholder] {
          color: $main-red-color;
        }

        &:focus {
          border-color: $input-border-color;
        }
      }
    }

    &--footer {
      input.form__input[type='text'],
      input.form__input[type='email'],
      textarea.form__textarea {
        background-color: #3f3d56;
        color: $input-text-color;

        + label.form__label[data-placeholder] {
          &:after {
            content: attr(data-placeholder);
            display: block;
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translate(0%, -50%);
            transition: all 0.3s ease-in-out;
            padding: 0 5px;
            background-color: #3f3d56 !important;
          }
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
  }

  &__checkmark {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 2rem;
      display: inline-block;
      vertical-align: text-top;
      width: 2.4rem;
      height: 2.4rem;
      background: transparent;
      border: 1px solid #b1b0bb;
      border-radius: 6px;
    }

    // Box checked
    &:checked + label:before {
      background: $step-text-color-3;
      border: 1px solid $step-text-color-3;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 6px;
      width: 15px;
      height: 12px;
      background-image: url(../img/icons/checkmark.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4.2rem;
    width: 100%;
    padding: 1rem 4rem;
    height: 8rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: $text-primary-color;
    border: 1px solid $input-border-color;

    label {
      background-color: transparent;
      width: 2.5rem;
      height: 2.5rem;
      font-family: inherit;
      cursor: pointer;
    }

    #file-chosen {
      margin-left: 0.3rem;
      font-family: sans-serif;
    }

    &--uploaded {
      border-color: $input-focus-color;

      label {
        display: none;
      }

      .form__remove {
        display: block;
      }
      .form__filename {
        color: $text-primary-color;
      }
    }
  }

  &__remove {
    background-color: transparent;
    border: none;
    outline: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: none;

    .form__icon {
      fill: $text-primary-color;
    }
  }

  &__filename {
    font-size: 1.6rem;
    color: $input-text-color;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $input-icon-color;
  }
}
