// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 1.6rem;
  margin: 0 auto;

  @media (max-width: 1450px) {
    max-width: 1200px;
  }
}

.position-relative {
  position: relative;
}

.u-title-primary {
  font-size: 4rem;
}

.u-text-primary {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: $text-grey-color;
}
