// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: 142.4rem;
  padding: 0 3rem;
  margin: 0 auto;

  @media (max-width: 1450px) {
    max-width: 124rem;
    padding: 0 2rem;
  }
}

.position-relative {
  position: relative;
}

.u-title-primary {
  font-size: 4rem;

  @include respond(laptop-hq) {
    font-size: 3.2rem;
  }
}

.u-text-primary {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: $text-grey-color;

  @include respond(laptop-hq) {
    font-size: 1.4rem;
  }
}

.flex-apart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-grey {
  color: $text-grey-color;
}

$spaceamounts: (5, 10, 15, 20, 24, 25, 30, 35, 40, 45, 50, 60, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
