// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 1.6rem;
  margin: 0 auto;
}
