// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-ge-default: 'DejaVu Sans';
$font-en-default: 'Ubuntu';


// Colors
$text-primary-color: #3F3D56;
$text-secondary-color: #171A30;
$main-bg-color: #EEF2F8;
$border-grey-color: #DCDFE8;
$text-grey-color: #8F909B;
$text-grey-secondary-color: #B2B1BB;
$placeholder-grey-color: #9A9AA7;
$slider-bullet-grey: #B4B7BF;
$main-red-color: #E03852;
$primary-pink-color: #F5C2CA;


$step-bg-color-1: #E7F7F6;
$step-bg-color-2: #FCEAED;
$step-bg-color-3: #F4E9F5;
$step-bg-color-4: #F1F5FF;
$step-bg-color-5: #FAECF9;

$step-text-color-1: #4BBEB7;
$step-text-color-2: #E03852;
$step-text-color-3: #892D92;
$step-text-color-4: #7BA0FF;
$step-text-color-5: #C744C2;


$model-red-color: #FCEAED; 
$model-purple-color: #FAECF9; 
$model-green-color: #E7F7F6; 
$model-blue-color: #F1F5FF; 
$model-darkpurple-color: #F4E9F5; 
$model-yellow-color: #FEF6E5; 